.advantages-content__title {
  margin-bottom: 30px;
}

.advantages-content__text {
  font-size: 20px;
  line-height: 1.4;
}

.advantages-item__content {
  flex-shrink: 1;
}

.advantages-item__icon {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  fill: $green;
}

.advantages-item__title {
  font-size: 20px;
}

@media (min-width: 576px) {
  .advantages-content__title {
    font-size: 32px;
  }
  .advantages-item {
    display: flex;
  }
}

@media (min-width: 1024px) {
  .advantages {
    display: flex;
    padding-top: 75px;
    padding-bottom: 75px;
  }
  .advantages-content {
    max-width: 430px;
  }
  .advantages-aside {
    max-width: 50%;
    flex-basis: 50%;
    margin-left: auto;
  }
  .advantages-list {
    max-width: 480px;
  }

  .advantages-item:not(:last-child) {
    margin-bottom: 40px;

    .advantages-item__content {
      padding-bottom: 30px;
      border-bottom: 2px solid $grey;
    }
  }
  .advantages-item__icon {
    margin-right: 43px;
  }
}

@media (max-width: 1023px) {
  .advantages-content {
    margin-bottom: 50px;
  }
  .advantages-content__title br {
    display: none;
  }
  .advantages-item__icon {
    margin-right: 25px;
  }
}

@media (max-width: 767px) {
  .advantages {
    padding-top: 50px;
    padding-bottom: 70px;
  }
  .advantages-item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media (max-width: 575px) {
  .advantages-content__title {
    font-size: 22px;
  }
  .advantages-item__icon {
    margin-bottom: 23px;
  }.advantages-item__title {
     margin-bottom: 13px;
}
}

@media (min-width: 768px) and (max-width: 1023px) {
  .advantages {
    padding-top: 60px;
    padding-bottom: 30px;
  }
  .advantages-list {
    display: flex;
    flex-wrap: wrap;
  }
  .advantages-item {
    max-width: 50%;
    flex-basis: 50%;
  }
  .advantages-item {
    margin-bottom: 45px;
    padding-right: 15px;
  }
}
