.tariffs-showcase {
  max-width: 430px;
}

.tariffs-card__row {
  display: flex;
  overflow-x: auto;
}

.tariffs-card {
  flex-shrink: 0;
  padding: 23px 20px 30px;
  background-color: #fff;

  &:not(:last-of-type) {
    border-right: 1px solid $grey;
  }
}

.tariffs-card__title {
  font-weight: 600;
}

.tariffs-card__title-link {
  color: inherit;
  display: block;
  max-width: 210px;
  transition: color .4s;

  &:hover {
    color: $green;
  }
}

.tariffs-card__params {
  margin-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  line-height: 1;
  font-size: 15px;
}

.tariffs-card__additional-more {
  margin-left: 5px;
  font-size: 12px;
}

.tariffs-card__additional-text {
  max-width: 178px;
  margin-bottom: 15px;
  font-size: 12px;
}

.tariffs-card__params-item:not(:last-child) {
  margin-right: 5px;

  &::after {
    height: 16px;
    width: 1px;
    margin-left: 5px;
    background-color: $black;
    display: inline-block;
    vertical-align: middle;
    content: "";
  }
}

.tariffs-card__icon {
  width: 42px;
  height: 20px;
}

.tariffs-card__price {
  margin-bottom: 5px;
  font-weight: 700;
  line-height: 1;
}

.tariffs-card__period {
  margin-bottom: 28px;
  font-size: 15px;
}

.tariffs-card__more {
  margin-bottom: 14px;
}

.tariffs-card__go {
  font-size: 12px;
  display: inline-block;
  color: $black;
  transition: color .4s;

  &:hover {
    color: $green;
  }
}

@media (min-width: 576px) {
  .tariffs-showcase {
    margin-bottom: 40px;
  }
  .tariffs-showcase__title {
    font-size: 32px;
  }
}

@media (min-width: 993px) {
  .tariffs-card {
    max-width: 25%;
    flex-basis: 25%;
  }
  .tariffs-card__title {
    min-height: 60px;
    margin-bottom: 15px;
    font-size: 20px;
  }

  .tariffs-card__additional {
    margin-bottom: 68px;
  }

  .tariffs-card__price {
    font-size: 31px;
  }
  .tariffs-card__bottom {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 992px) {
  .tariffs-card__row {
    margin-right: -16px;
  }
  .tariffs-card__title {
    min-height: 53px;
    margin-bottom: 12px;
    font-size: 18px;
  }
  .tariffs-card__additional {
    margin-bottom: 57px;
  }
  .tariffs-card__price {
    font-size: 23px;
  }
  .tariffs-card__more {
    width: 85%;
  }
}

@media (max-width: 767px) {
  .tariffs-card {
    max-width: 252px;
    flex-basis: 252px;
  }
}

@media (max-width: 575px) {
  .tariffs-showcase {
    margin-bottom: 35px;
  }
  .tariffs-showcase__title {
    margin-bottom: 23px;
    font-size: 22px;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .tariffs-card {
    max-width: 300px;
    flex-basis: 300px;
  }
}
