.tariffs-showcase {
  max-width: 430px;
  margin-bottom: 40px;
}

.tariffs-showcase__title {
  font-size: 32px;
}

.tariffs-card__row {
  display: flex;
}

.tariffs-card {
  max-width: 25%;
  flex-basis: 25%;
  padding: 23px 20px 30px;
  background-color: #fff;

  &:not(:last-of-type) {
    border-right: 1px solid $grey;
  }
}

.tariffs-card__title {
  min-height: 60px;
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: 600;
}

.tariffs-card__title-link {
  color: inherit;
  display: block;
  max-width: 210px;
}

.tariffs-card__params {
  margin-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  line-height: 1;
  font-size: 15px;
}

.tariffs-card__additional-text {
  max-width: 178px;
  margin-bottom: 13px;
  font-size: 12px;
}

.tariffs-card__params-item:not(:last-child) {
  margin-right: 5px;

  &::after {
    height: 16px;
    width: 1px;
    margin-left: 5px;
    background-color: $black;
    display: inline-block;
    vertical-align: middle;
    content: "";
  }
}

.tariffs-card__icon {
  width: 42px;
  height: 20px;
}

.tariffs-card__additional {
  margin-bottom: 68px;
}

.tariffs-card__price {
  margin-bottom: 5px;
  font-size: 31px;
  font-weight: 700;
  line-height: 1;
}

.tariffs-card__period {
  margin-bottom: 28px;
  font-size: 15px;
}

.tariffs-card__bottom {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

.tariffs-card__more {
  margin-bottom: 14px;
}

.tariffs-card__go {
  font-size: 12px;
  display: inline-block;
  color: $black;
}

@media (max-width: 1023px) {
  .tariffs-card__wrap {
    max-width: 100%;
    overflow-x: auto;
  }

  .tariffs-card__row {
    width: 1200px;
  }
}
