<% var data = {
  title: "VoLTE Проект",
  author: "AlexLenk.ru"
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>

<!-- Begin presentation -->
<section class="presentation">
  <picture>
    <source srcset="img/presentation-640.jpg" media="(max-width: 640px)">
    <source srcset="img/presentation-1280.jpg" media="(max-width: 1280px)">
    <img src="img/presentation-2560.jpg" alt="">
  </picture>

  <div class="presentation-inner">
    <div class="presentation-container container">
        <h1 class="presentation-title">
          Кристально <br>
          чистый звук с <br>
            технологией VoLTE
        </h1>

        <div class="presentation-subtitle">
          Переходи на новый уровень общения
        </div>
    </div>
  </div>
</section>
<!-- End presentation -->

<!-- Begin advantages -->
<section class="advantages container">
    <div class="advantages-content">
        <h2 class="advantages-content__title">VoLTE — голосовая <br>
            связь последнего <br>
            поколения</h2>

        <p class="advantages-content__text">
            Технология Voice over LTE передаёт звонок по&nbsp;высокоскоростной сети&nbsp;4G (LTE).
            Голосовой поток доставляется в&nbsp;разы быстрее и&nbsp;в&nbsp;лучшем качестве.
        </p>
    </div>

    <aside class="advantages-aside">
        <ul class="advantages-list list-unstyled">
            <li class="advantages-item">
                <svg class="advantages-item__icon">
                    <use xlink:href="img/icons.svg#voice"></use>
                </svg>
                <div class="advantages-item__content">
                    <h3 class="advantages-item__title">Голос звучит чисто</h3>
                    <div class="advantages-item__text">Настолько естественно, как будто собеседник находится рядом</div>
                </div>
            </li>
            <li class="advantages-item">
                <svg class="advantages-item__icon">
                    <use xlink:href="img/icons.svg#mobile_4g"></use>
                </svg>
                <div class="advantages-item__content">
                    <h3 class="advantages-item__title">Одно другому не мешает</h3>
                    <div>Вы&nbsp;можете и&nbsp;звонить, и&nbsp;пользоваться 4G&nbsp;интернетом одновременно</div>
                </div>
            </li>
            <li class="advantages-item">
                <svg class="advantages-item__icon">
                    <use xlink:href="img/icons.svg#call"></use>
                </svg>
                <div class="advantages-item__content">
                    <h3 class="advantages-item__title">Мгновенный дозвон</h3>
                    <div>Соединение происходит очень быстро&nbsp;&mdash; в&nbsp;течение 2&nbsp;секунд</div>
                </div>
            </li>
            <li class="advantages-item">
                <svg class="advantages-item__icon">
                    <use xlink:href="img/icons.svg#gift"></use>
                </svg>
                <div class="advantages-item__content">
                    <h3 class="advantages-item__title">И никакой доплаты</h3>
                    <div>Технология VoLTE доступна бесплатно и&nbsp;не&nbsp;требует подключения</div>
                </div>
            </li>
        </ul>
    </aside>
</section>
<!-- End advantages -->

<div class="block-bg__gray">
    <div class="container">
        <!-- Begin tariffs-showcase -->
        <div class="tariffs-showcase">
            <h2 class="tariffs-showcase__title">Выберите тариф</h2>

            <div class="tariffs-showcase__description">
                Выбирайте тарифы «Включайся!» и используйте возможности VoLTE по максимуму.
                VoLTE не расходует интернет-трафик вашего тарифа, а звонки по VoLTE уже входят в пакет минут.
            </div>
        </div>
        <!-- End tariffs-showcase -->

        <!-- Begin tabs -->
        <div class="tabs">
            <div class="nav-tabs">
                <div class="nav-tabs-item nav-tabs-item__active" data-value="1">Смартфон</div>
                <div class="nav-tabs-item" data-value="2">Планшет</div>
                <div class="nav-tabs-item" data-value="3">Модем</div>
            </div>

            <div class="tab-content">
                <div class="tab-content-pane tab-content-pane__active">
                    <div class="tariffs-card__wrap">
                        <div class="tariffs-card__row">
                            <!-- Begin tariffs-card -->
                            <div class="tariffs-card">
                                <div class="tariffs-card__title">
                                    <a href="#" class="tariffs-card__title-link">Включайся! Слушай
                                        Акция</a>
                                </div>

                                <ul class="tariffs-card__params list-unstyled">
                                    <li class="tariffs-card__params-item">700 минут</li>
                                </ul>

                                <div class="tariffs-card__additional-text">Безлимитный интернет на все сервисы</div>

                                <div class="tariffs-card__additional">
                                    <svg class="tariffs-card__icon">
                                        <use xlink:href="img/icons.svg#infinity"></use>
                                    </svg>
                                </div>

                                <div class="tariffs-card__price">650 ₽</div>

                                <div class="tariffs-card__period">в месяц</div>

                                <div class="tariffs-card__bottom">
                                    <a class="tariffs-card__more btn btn-primary" href="#">Подробнее</a>

                                    <a href="#" class="tariffs-card__go arrow-link">Перейти в МегаФон</a>
                                </div>
                            </div>
                            <!-- END tariffs-card -->

                            <!-- Begin tariffs-card -->
                            <div class="tariffs-card">
                                <div class="tariffs-card__title">
                                    <a href="#" class="tariffs-card__title-link">Включайся! общайся</a>
                                </div>

                                <ul class="tariffs-card__params list-unstyled">
                                    <li class="tariffs-card__params-item">850 минут</li>
                                </ul>

                                <div class="tariffs-card__additional-text">Безлимитный интернет на все сервисы</div>

                                <div class="tariffs-card__additional">
                                    <svg class="tariffs-card__icon">
                                        <use xlink:href="img/icons.svg#infinity"></use>
                                    </svg>
                                </div>

                                <div class="tariffs-card__price">800 ₽</div>

                                <div class="tariffs-card__period">в месяц</div>

                                <div class="tariffs-card__bottom">
                                    <a class="tariffs-card__more btn btn-primary" href="#">Подробнее</a>

                                    <a href="#" class="tariffs-card__go arrow-link">Перейти в МегаФон</a>
                                </div>
                            </div>
                            <!-- END tariffs-card -->

                            <!-- Begin tariffs-card -->
                            <div class="tariffs-card">
                                <div class="tariffs-card__title">
                                    <a href="#" class="tariffs-card__title-link">Включайся! Смотри
                                        Акция</a>
                                </div>

                                <ul class="tariffs-card__params list-unstyled">
                                    <li class="tariffs-card__params-item">750 минут</li>
                                    <li class="tariffs-card__params-item">20 ГБ</li>
                                </ul>

                                <div class="tariffs-card__additional-text">Безлимитный интернет на видео, музыку и мессенджеры</div>

                                <div class="tariffs-card__additional">
                                    <svg class="tariffs-card__icon">
                                        <use xlink:href="img/icons.svg#infinity"></use>
                                    </svg>
                                </div>

                                <div class="tariffs-card__price">1550 ₽</div>

                                <div class="tariffs-card__period">в месяц</div>

                                <div class="tariffs-card__bottom">
                                    <a class="tariffs-card__more btn btn-primary" href="#">Подробнее</a>

                                    <a href="#" class="tariffs-card__go arrow-link">Перейти в МегаФон</a>
                                </div>
                            </div>
                            <!-- END tariffs-card -->

                            <!-- Begin tariffs-card -->
                            <div class="tariffs-card">
                                <div class="tariffs-card__title">
                                    <a href="#" class="tariffs-card__title-link">Включайся! Слушай
                                        Акция</a>
                                </div>

                                <ul class="tariffs-card__params list-unstyled">
                                    <li class="tariffs-card__params-item">700 минут</li>
                                </ul>

                                <div class="tariffs-card__additional-text">Безлимитный интернет на все сервисы</div>

                                <div class="tariffs-card__additional">
                                    <svg class="tariffs-card__icon">
                                        <use xlink:href="img/icons.svg#infinity"></use>
                                    </svg>
                                </div>

                                <div class="tariffs-card__price">650 ₽</div>

                                <div class="tariffs-card__period">в месяц</div>

                                <div class="tariffs-card__bottom">
                                    <a class="tariffs-card__more btn btn-primary" href="#">Подробнее</a>

                                    <a href="#" class="tariffs-card__go arrow-link">Перейти в МегаФон</a>
                                </div>
                            </div>
                            <!-- END tariffs-card -->
                        </div>
                    </div>
                </div>
                <div class="tab-content-pane">Второй контент</div>
                <div class="tab-content-pane">Третий контент</div>
            </div>
        </div>
        <!-- End tabs -->

        <!-- Begin facilities -->
        <div class="facilities">
            <div class="facilities-content">
                <div class="facilities-content__block">
                    <h3 class="facilities-title">Что нужно, чтобы пользоваться VoLTE</h3>
                    <div class="facilities-content__text">
                        Технология уже доступна на многих устройствах — проверьте настройки своего смартфона и тип SIM-карты.
                    </div>
                </div>
            </div>

            <div class="facilities-info">
                <div class="facilities-info__box">
                    <h4 class="facilities-info__title">SIM-карта с поддержкой 4G+</h4>

                    <div class="facilities-info__text">
                        Наберите команду *507#, чтобы проверить, подходит ли ваша SIM-карта для сети 4G+. Если не
                        подходит — замените её бесплатно на USIM-карту в любом салоне МегаФона.
                    </div>

                    <a href="#" class="facilities-info__more arrow-link">Адреса салонов</a>
                </div>

                <div class="facilities-info__box">
                    <h4 class="facilities-info__title">Смартфон с поддержкой VoLTE</h4>

                    <div class="facilities-info__text">
                        Ваш смартфон должен поддерживать технологию VoLTE (см. <a href="#">список устройств</a>). Не
                        забудьте проверить настройки и обновить прошивку до последней версии.
                    </div>

                    <div class="facilities-info__device">
                        <a href="#" class="facilities-device-box">
                            <div class="facilities-device-box__media">
                                <div class="facilities-device-box__stick">70 290 ₽</div>
                                <picture>
                                    <img src="img/example-01.jpg" srcset="img/example-01@2x.jpg 2x" alt="">
                                </picture>
                            </div>

                            <div class="facilities-device-box__title">
                                Apple iPhone X 256GB Space Gray
                            </div>
                        </a>

                        <a href="#" class="facilities-device-box">
                            <div class="facilities-device-box__media">
                                <div class="facilities-device-box__stick">69 990 ₽</div>
                                <picture>
                                    <img src="img/example-02.jpg" srcset="img/example-02@2x.jpg 2x" alt="">
                                </picture>
                            </div>

                            <div class="facilities-device-box__title">
                                Смартфон Samsung Galaxy S9 64GB Черный бриллиант
                            </div>
                        </a>
                    </div>

                    <a href="#" class="facilities-info__more arrow-link">Выбрать смартфон с VoLTE</a>
                </div>
            </div>
        </div>
        <!-- End facilities -->
    </div>
</div>


<%= _.template(require('./../includes/footer.html').default)(data) %>