<% var data = {
  title: "VoLTE Проект",
  author: "AlexLenk.ru"
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>

<!-- Begin presentation -->
<section class="presentation">
  <picture>
    <source srcset="img/presentation-640.jpg" media="(max-width: 640px)">
    <source srcset="img/presentation-1280.jpg" media="(max-width: 1280px)">
    <img src="img/presentation-2560.jpg" alt="">
  </picture>

  <div class="presentation-inner">
    <div class="presentation-container container">
        <h1 class="presentation-title">
          Кристально <br>
          чистый звук с <br>
            технологией VoLTE
        </h1>

        <div class="presentation-subtitle">
          Переходи на новый уровень общения
        </div>
    </div>
  </div>
</section>
<!-- End presentation -->

<!-- Begin advantages -->
<section class="advantages container">
    <div class="advantages-content">
        <h2 class="advantages-content__title">VoLTE — голосовая <br>
            связь последнего <br>
            поколения</h2>

        <div class="advantages-content__text">
            Технология Voice over LTE передаёт звонок по&nbsp;высокоскоростной сети&nbsp;4G (LTE).
            Голосовой поток доставляется в&nbsp;разы быстрее и&nbsp;в&nbsp;лучшем качестве.
        </div>
    </div>

    <aside class="advantages-aside">
        <ul class="advantages-list list-unstyled">
            <li class="advantages-item">
                <svg class="advantages-item__icon">
                    <use xlink:href="img/icons.svg#voice"></use>
                </svg>
                <div class="advantages-item__content">
                    <h3 class="advantages-item__title">Голос звучит чисто</h3>
                    <div class="advantages-item__text">Настолько естественно, как будто собеседник находится рядом</div>
                </div>
            </li>
            <li class="advantages-item">
                <svg class="advantages-item__icon">
                    <use xlink:href="img/icons.svg#mobile_4g"></use>
                </svg>
                <div class="advantages-item__content">
                    <h3 class="advantages-item__title">Одно другому не мешает</h3>
                    <div>Вы&nbsp;можете и&nbsp;звонить, и&nbsp;пользоваться 4G&nbsp;интернетом одновременно</div>
                </div>
            </li>
            <li class="advantages-item">
                <svg class="advantages-item__icon">
                    <use xlink:href="img/icons.svg#call"></use>
                </svg>
                <div class="advantages-item__content">
                    <h3 class="advantages-item__title">Мгновенный дозвон</h3>
                    <div>Соединение происходит очень быстро&nbsp;&mdash; в&nbsp;течение 2&nbsp;секунд</div>
                </div>
            </li>
            <li class="advantages-item">
                <svg class="advantages-item__icon">
                    <use xlink:href="img/icons.svg#gift"></use>
                </svg>
                <div class="advantages-item__content">
                    <h3 class="advantages-item__title">И никакой доплаты</h3>
                    <div>Технология VoLTE доступна бесплатно и&nbsp;не&nbsp;требует подключения</div>
                </div>
            </li>
        </ul>
    </aside>
</section>
<!-- End advantages -->

<!-- Begin slide-info -->
<div class="slide-info">
    <div class="slide-info__inner container">
        <!-- Begin slide 1 -->
        <div class="slide-info__header slide-info__current" style="background-image: url(img/slider-01.jpg)">
            <div class="slide-info__title">
                Наслаждайтесь чистым звуком
            </div>
            <div class="slide-info__text">
                Даже если между вами тысячи километров
            </div>
            <svg class="slide-info__arrow"><use xlink:href="img/icons.svg#arrow-long"></use></svg>
            <div class="slide-info__dot"></div>
        </div>
        <!-- End slide 1 -->

        <!-- Begin slide 2 -->
        <div class="slide-info__header" style="background-image: url(img/slider-02.jpg)">
            <div class="slide-info__title">Несколько дел одновременно</div>
            <div class="slide-info__text">
                Разговаривайте по телефону и следите за дорогой по навигатору
            </div>
            <svg class="slide-info__arrow"><use xlink:href="img/icons.svg#arrow-long"></use></svg>
            <div class="slide-info__dot"></div>
        </div>
        <!-- End slide 2 -->

        <!-- Begin slide 3 -->
        <div class="slide-info__header" style="background-image: url(img/slider-03.jpg)">
            <div class="slide-info__title">Больше времени на общение</div>

            <div class="slide-info__text">
                И&nbsp;меньше&nbsp;&mdash; на&nbsp;ожидание соединения с&nbsp;собеседником
            </div>
            <svg class="slide-info__arrow"><use xlink:href="img/icons.svg#arrow-long"></use></svg>
            <div class="slide-info__dot"></div>
        </div>
        <!-- End slide 3 -->
    </div>
</div>
<!-- End slide-info -->

<div class="block-bg__gray">
    <div class="container">
        <!-- Begin tariffs-showcase -->
        <div class="tariffs-showcase">
            <h2 class="tariffs-showcase__title">Выберите тариф</h2>

            <div class="tariffs-showcase__description">
                Выбирайте тарифы «Включайся!» и используйте возможности VoLTE по максимуму.
                VoLTE не расходует интернет-трафик вашего тарифа, а звонки по VoLTE уже входят в пакет минут.
            </div>
        </div>
        <!-- End tariffs-showcase -->

        <!-- Begin tabs -->
        <div class="tabs">
            <div class="nav-tabs">
                <div class="nav-tabs-item nav-tabs-item__active" data-value="1">Смартфон</div>
                <div class="nav-tabs-item" data-value="2">Планшет</div>
                <div class="nav-tabs-item" data-value="3">Модем</div>
            </div>

            <div class="tab-content">
                <div class="tab-content-pane tab-content-pane__active">
                        <div class="tariffs-card__row">
                            <!-- Begin tariffs-card -->
                            <div class="tariffs-card">
                                <div class="tariffs-card__title">
                                    <a href="#" class="tariffs-card__title-link">Включайся! Слушай
                                        Акция</a>
                                </div>

                                <ul class="tariffs-card__params list-unstyled">
                                    <li class="tariffs-card__params-item">700 минут</li>
                                </ul>

                                <div class="tariffs-card__additional-text">Безлимитный интернет на все сервисы</div>

                                <div class="tariffs-card__additional">
                                    <svg class="tariffs-card__icon">
                                        <use xlink:href="img/icons.svg#infinity"></use>
                                    </svg>
                                </div>

                                <div class="tariffs-card__price">650 ₽</div>

                                <div class="tariffs-card__period">в месяц</div>

                                <div class="tariffs-card__bottom">
                                    <a class="tariffs-card__more btn btn-primary" href="#">Подробнее</a>

                                    <a href="#" class="tariffs-card__go arrow-link">Перейти в МегаФон</a>
                                </div>
                            </div>
                            <!-- END tariffs-card -->

                            <!-- Begin tariffs-card -->
                            <div class="tariffs-card">
                                <div class="tariffs-card__title">
                                    <a href="#" class="tariffs-card__title-link">Включайся! общайся</a>
                                </div>

                                <ul class="tariffs-card__params list-unstyled">
                                    <li class="tariffs-card__params-item">850 минут</li>
                                </ul>

                                <div class="tariffs-card__additional-text">Безлимитный интернет на все сервисы</div>

                                <div class="tariffs-card__additional">
                                    <svg class="tariffs-card__icon">
                                        <use xlink:href="img/icons.svg#infinity"></use>
                                    </svg>
                                </div>

                                <div class="tariffs-card__price">800 ₽</div>

                                <div class="tariffs-card__period">в месяц</div>

                                <div class="tariffs-card__bottom">
                                    <a class="tariffs-card__more btn btn-primary" href="#">Подробнее</a>

                                    <a href="#" class="tariffs-card__go arrow-link">Перейти в МегаФон</a>
                                </div>
                            </div>
                            <!-- END tariffs-card -->

                            <!-- Begin tariffs-card -->
                            <div class="tariffs-card">
                                <div class="tariffs-card__title">
                                    <a href="#" class="tariffs-card__title-link">Включайся! Смотри
                                        Акция</a>
                                </div>

                                <ul class="tariffs-card__params list-unstyled">
                                    <li class="tariffs-card__params-item">750 минут</li>
                                    <li class="tariffs-card__params-item">20 ГБ</li>
                                </ul>

                                <div class="tariffs-card__additional-text">Безлимитный интернет на видео, музыку и мессенджеры</div>

                                <div class="tariffs-card__additional">
                                    <svg class="tariffs-card__icon">
                                        <use xlink:href="img/icons.svg#infinity"></use>
                                    </svg>
                                </div>

                                <div class="tariffs-card__price">1550 ₽</div>

                                <div class="tariffs-card__period">в месяц</div>

                                <div class="tariffs-card__bottom">
                                    <a class="tariffs-card__more btn btn-primary" href="#">Подробнее</a>

                                    <a href="#" class="tariffs-card__go arrow-link">Перейти в МегаФон</a>
                                </div>
                            </div>
                            <!-- END tariffs-card -->

                            <!-- Begin tariffs-card -->
                            <div class="tariffs-card">
                                <div class="tariffs-card__title">
                                    <a href="#" class="tariffs-card__title-link">Включайся! Слушай
                                        Акция</a>
                                </div>

                                <ul class="tariffs-card__params list-unstyled">
                                    <li class="tariffs-card__params-item">700 минут</li>
                                </ul>

                                <div class="tariffs-card__additional-text">Безлимитный интернет на все сервисы</div>

                                <div class="tariffs-card__additional">
                                    <svg class="tariffs-card__icon">
                                        <use xlink:href="img/icons.svg#infinity"></use>
                                    </svg>
                                </div>

                                <div class="tariffs-card__price">650 ₽</div>

                                <div class="tariffs-card__period">в месяц</div>

                                <div class="tariffs-card__bottom">
                                    <a class="tariffs-card__more btn btn-primary" href="#">Подробнее</a>

                                    <a href="#" class="tariffs-card__go arrow-link">Перейти в МегаФон</a>
                                </div>
                            </div>
                            <!-- END tariffs-card -->
                        </div>
                </div>
                <div class="tab-content-pane">Второй контент</div>
                <div class="tab-content-pane">Третий контент</div>
            </div>
        </div>
        <!-- End tabs -->

        <!-- Begin facilities -->
        <div class="facilities">
            <div class="facilities-content">
                <div class="facilities-content__block">
                    <h3 class="facilities-title">Что нужно, чтобы пользоваться VoLTE</h3>
                    <div class="facilities-content__text">
                        Технология уже доступна на многих устройствах — проверьте настройки своего смартфона и тип SIM-карты.
                    </div>
                </div>
            </div>

            <div class="facilities-info">
                <div class="facilities-info__box">
                    <h4 class="facilities-info__title">SIM-карта с поддержкой 4G+</h4>

                    <div class="facilities-info__text">
                        Наберите команду *507#, чтобы проверить, подходит ли ваша SIM-карта для сети 4G+. Если не
                        подходит — замените её бесплатно на USIM-карту в любом салоне МегаФона.
                    </div>

                    <a href="#" class="facilities-info__more arrow-link">Адреса салонов</a>
                </div>

                <div class="facilities-info__box">
                    <h4 class="facilities-info__title">Смартфон с поддержкой VoLTE</h4>

                    <div class="facilities-info__text">
                        Ваш смартфон должен поддерживать технологию VoLTE (см. <a href="#">список устройств</a>). Не
                        забудьте проверить настройки и обновить прошивку до последней версии.
                    </div>

                    <div class="facilities-info__device">
                        <a href="#" class="facilities-device-box">
                            <div class="facilities-device-box__media">
                                <div class="facilities-device-box__stick">70 290 ₽</div>
                                <picture>
                                    <img src="img/example-01.jpg" srcset="img/example-01@2x.jpg 2x" alt="">
                                </picture>
                            </div>

                            <div class="facilities-device-box__title">
                                Apple iPhone X 256GB Space Gray
                            </div>
                        </a>

                        <a href="#" class="facilities-device-box">
                            <div class="facilities-device-box__media">
                                <div class="facilities-device-box__stick">69 990 ₽</div>
                                <picture>
                                    <img src="img/example-02.jpg" srcset="img/example-02@2x.jpg 2x" alt="">
                                </picture>
                            </div>

                            <div class="facilities-device-box__title">
                                Смартфон Samsung Galaxy S9 64GB Черный бриллиант
                            </div>
                        </a>
                    </div>

                    <a href="#" class="facilities-info__more arrow-link">Выбрать смартфон с VoLTE</a>
                </div>
            </div>
        </div>
        <!-- End facilities -->

        <!-- Begin communication -->
        <div class="communication">
            <div class="communication-presentation">
                <picture>
                    <source srcset="img/example-03-640.jpg" media="(max-width: 640px)">
                    <source srcset="img/example-03@2x.jpg" media="(-webkit-min-device-pixel-ratio: 2)">
                    <source srcset="img/example-03@2x.jpg" media="(min-width: 641px) and (max-width: 992px)">
                    <img src="img/example-03.jpg" alt="">
                </picture>
                <h2 class="communication-title">VoWi-Fi — связь<br> везде, где есть роутер</h2>
            </div>

            <div class="communication-content">
                <div class="communication-text">
                    В местах с плохим покрытием, где LTE недоступен, можно подключаться к любому  Wi-Fi-роутеру. Технология Voice over Wi-Fi использует роутер как базовую станцию и улучшает качество сотовой связи.
                </div>

                <ul class="communication-list list-round">
                    <li class="communication-list__item list-round__item">
                        <div class="list-round__content">
                            <div class="communication-list__title">Разговор не прерывается</div>
                            <div class="communication-list__text">
                                Для передачи звонка используется стабильное подключение
                            </div>
                        </div>
                    </li>
                    <li class="communication-list__item list-round__item">
                        <div class="list-round__content">
                            <div class="communication-list__title">Лучшее качество</div>
                            <div class="communication-list__text">
                                Качество сигнала связи становится лучше даже в местах без LTE
                            </div>
                        </div>
                    </li>
                    <li class="communication-list__item list-round__item">
                        <div class="list-round__content">
                            <div class="communication-list__title">Экономия заряда</div>
                            <div class="communication-list__text">
                                Телефон расходует меньше энергии в местах с плохим покрытием
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <!-- End communication -->
    </div>
</div>

<!-- Begin faq -->
<div class="faq container">
    <h2 class="faq-title">Часто задаваемые<br> вопросы</h2>

    <div class="faq-container">
        <div class="accordion-panel">
            <div class="accordion-title">
                <div>Какие устройства поддерживают VoLTE и как настроить VoLTE?</div>
                <svg class="accordion-arrow">
                    <use xlink:href="img/icons.svg#arrow"></use>
                </svg>
            </div>
            <div class="accordion-panel__content">
                <div class="accordion-panel__inner">
                    Посмотрите полный <a href="#">список устройств</a>, поддерживающих технологию VoLTE. В большинстве из них VoLTE настроена по умолчанию.
                    Если VoLTE не доступна автоматически, настройте VoLTE, следуя <a href="#">инструкции</a>.
                </div>
            </div>
        </div>

        <div class="accordion-panel">
            <div class="accordion-title">
                <div>Как проверить, что вы используете VoLTE?</div>
                <svg class="accordion-arrow">
                    <use xlink:href="img/icons.svg#arrow"></use>
                </svg>
            </div>
            <div class="accordion-panel__content">
                <div class="accordion-panel__inner">
                    Если до начала разговора ваш телефон был подключён к сети 4G (LTE) и не переключился на 2G или 3G, то для звонка будет использоваться технология VoLTE.
                </div>
            </div>
        </div>

        <div class="accordion-panel">
            <div class="accordion-title">
                <div>Особенности предоставления услуги</div>
                <svg class="accordion-arrow">
                    <use xlink:href="img/icons.svg#arrow"></use>
                </svg>
            </div>

            <div class="accordion-panel__content">
                <div class="accordion-panel__inner">
                    <ul class="list-dash">
                        <li class="list-dash__item">VoLTE действует только в&nbsp;сети 4G&nbsp;в&nbsp;Домашнем регионе и&nbsp;в&nbsp;регионах наличия услуги.</li>
                        <li class="list-dash__item">VoLTE доступна для абонентов Москвы, Санкт-Петербурга (в тестовом режиме), Оренбурга, Республики Адыгеи, Самары, Тольятти и&nbsp;Краснодарского края.</li>
                        <li class="list-dash__item">Качество голосовой связи будет лучше, если ваш собеседник тоже использует VoLTE.</li>
                        <li class="list-dash__item">VoLTE не&nbsp;совместима с&nbsp;услугами: <a href="//www.megafon.ru/go/multifon-biznes">МультиФон Бизнес</a>, МАС, <a href="/services/account/call_by_friend/call_by_friend.html">Звонок за&nbsp;счёт друга</a><!--a href="/services/communicate/dopolnitelnyy_federalnyy_nomer/dopolnitelnyy_federalnyy_nomer.html">Второй номер</a-->. При использовании телефона Dual SIM для работы VoLTE может потребоваться установка SIM-карты МегаФона в&nbsp;основной слот (голос + данные).</li>
                        <li class="list-dash__item">Если во&nbsp;время разговора по&nbsp;VoLTE сеть 4G&nbsp;автоматически поменяется на&nbsp;сеть 3G/2G, звонок не&nbsp;оборвётся, а&nbsp;качество звука вернётся на&nbsp;уровень сети 3G/2G.</li>
                        <li class="list-dash__item">Если включить услугу VoLTE на&nbsp;телефоне без поддержки VoLTE МегаФона, то&nbsp;услуга автоматически не&nbsp;включится. Если вы&nbsp;пользовались VoLTE МегаФона и&nbsp;переставили SIM-карту в&nbsp;телефон, который не&nbsp;поддерживает этот сервис, технология VoLTE работать не&nbsp;будет.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End faq -->

<footer class="footer">
    <div class="container-fluid">
        <div class="footer-inner">
            <div class="footer-block footer-menu">
                <div class="footer-title">Компания</div>
                <ul class="footer-list">
                    <li class="footer-list__item"><a href="#" class="footer-link">О компании</a></li>
                    <li class="footer-list__item"><a href="#" class="footer-link">Новости</a></li>
                    <li class="footer-list__item"><a href="#" class="footer-link">Условия оказания услуг</a></li>
                </ul>
            </div>

            <div class="footer-block footer-menu footer-menu__half">
                <div class="footer-title">Организациям</div>
                <ul class="footer-list">
                    <li class="footer-list__item"><a href="#" class="footer-link">Инвесторам</a></li>
                    <li class="footer-list__item"><a href="#" class="footer-link">Инновации</a></li>
                    <li class="footer-list__item"><a href="#" class="footer-link">Прессе</a></li>
                    <li class="footer-list__item"><a href="#" class="footer-link">Социальная ответственность</a></li>
                    <li class="footer-list__item"><a href="#" class="footer-link">Партнёрам</a></li>
                    <li class="footer-list__item"><a href="#" class="footer-link">Лицензии</a></li>
                </ul>
            </div>

            <div class="footer-block footer-special__block">
                <div class="footer-title"><a href="#" class="text-bold footer-link">Работа в МегаФон</a></div>

                <a href="#" class="footer-link">English</a>
            </div>

            <ul class="footer-block footer-support list-unstyled">
                <li class="footer-support__item">
                    <a href="#" class="footer-support__link footer-link">
                        <svg class="footer-support__icon">
                            <use xlink:href="img/icons.svg#faq"></use>
                        </svg>
                        Вопрос-ответ
                    </a>
                </li>
                <li class="footer-support__item">
                    <a href="#" class="footer-support__link footer-link">
                        <svg class="footer-support__icon">
                            <use xlink:href="img/icons.svg#location"></use>
                        </svg>
                        Салоны связи
                    </a>
                </li>
                <li class="footer-support__item">
                    <a href="#" class="footer-support__link footer-link">
                        <svg class="footer-support__icon">
                            <use xlink:href="img/icons.svg#map"></use>
                        </svg>
                        Карта покрытия
                    </a>
                </li>
                <li class="footer-support__item">
                    <a href="#" class="footer-support__link footer-link">
                        <svg class="footer-support__icon">
                            <use xlink:href="img/icons.svg#vip"></use>
                        </svg>
                        VIP-привилегии
                    </a>
                </li>
            </ul>
        </div>

        <div class="footer-bottom">
            <div class="footer-copy">© 2016 ПАО «МегаФон»</div>

            <ul class="footer-social">
                <li class="footer-social__item">
                    <a href="#" class="footer-social__link tw" rel="nofollow">
                        <svg class="footer-social__icon">
                            <use xlink:href="img/icons.svg#tw"></use>
                        </svg>
                    </a>
                </li>
                <li class="footer-social__item">
                    <a href="#" class="footer-social__link ig" rel="nofollow">
                        <svg class="footer-social__icon">
                            <use xlink:href="img/icons.svg#ig"></use>
                        </svg>
                    </a>
                </li>
                <li class="footer-social__item">
                    <a href="#" class="footer-social__link vk" rel="nofollow">
                        <svg class="footer-social__icon">
                            <use xlink:href="img/icons.svg#vk"></use>
                        </svg>
                    </a>
                </li>
                <li class="footer-social__item">
                    <a href="#" class="footer-social__link fb" rel="nofollow">
                        <svg class="footer-social__icon">
                            <use xlink:href="img/icons.svg#fb"></use>
                        </svg>
                    </a>
                </li>
                <li class="footer-social__item">
                    <a href="#" class="footer-social__link yt" rel="nofollow">
                        <svg class="footer-social__icon">
                            <use xlink:href="img/icons.svg#yt"></use>
                        </svg>
                    </a>
                </li>
                <li class="footer-social__item">
                    <a href="#" class="footer-social__link h" rel="nofollow">
                        <svg class="footer-social__icon">
                            <use xlink:href="img/icons.svg#h"></use>
                        </svg>
                    </a>
                </li>
                <li class="footer-social__item">
                    <a href="#" class="footer-social__link tg" rel="nofollow">
                        <svg class="footer-social__icon">
                            <use xlink:href="img/icons.svg#tg"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer>

<%= _.template(require('./../includes/footer.html').default)(data) %>