$font-stack: Graphik, -apple-system, BlinkMacSystemFont, Roboto, "Open Sans", "Helvetica Neue", sans-serif;
$green: #00b956;

@font-face {
  font-family: Graphik;
  src: url("../fonts/MegaFonGraphikLC-Light-Web.woff2") format("woff2"),
  url("../fonts/MegaFonGraphikLC-Light-Web.woff") format("woff");
  font-style: normal;
  font-weight: 300
}

@font-face {
  font-family: Graphik;
  src: url("../fonts/MegaFonGraphikLC-Regular-Web.woff2") format("woff2"),
  url("../fonts/MegaFonGraphikLC-Regular-Web.woff") format("woff");
  font-style: normal;
  font-weight: 400
}

@font-face {
  font-family: Graphik;
  src: url("../fonts/MegaFonGraphikLC-Medium-Web.woff2") format("woff2"),
  url("../fonts/MegaFonGraphikLC-Medium-Web.woff") format("woff");
  font-style: normal;
  font-weight: 500
}

@font-face {
  font-family: Graphik;
  src: url("../fonts/MegaFonGraphikLC-Semibold-Web.woff2") format("woff2"),
  url("../fonts/MegaFonGraphikLC-Semibold-Web.woff") format("woff");
  font-style: normal;
  font-weight: 600
}

@font-face {
  font-family: Graphik;
  src: url("../fonts/MegaFonGraphikLC-Bold-Web.woff2") format("woff2"),
  url("../fonts/MegaFonGraphikLC-Bold-Web.woff") format("woff");
  font-style: normal;
  font-weight: 700
}

@font-face {
  font-family: Graphik;
  src: url("../fonts/MegaFonGraphikLC-Black-Web.woff2") format("woff2"),
  url("../fonts/MegaFonGraphikLC-Black-Web.woff") format("woff");
  font-style: normal;
  font-weight: 900
}

body {
  color: #333;
  font-family: $font-stack;
}

a:hover {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.container {
  width: 100%;
  max-width: 1240px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.arrow-link::after {
  width: 5px;
  height: 5px;
  margin-left: 7px;
  border-left: 1px solid;
  border-top: 1px solid;
  display: inline-flex;
  vertical-align: middle;
  transform: rotate(135deg);
  content: '';
}

.list-unstyled {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.block-bg__gray {
  padding-top: 75px;
  padding-bottom: 75px;
  background-color: #ebedef;
}

.btn {
  font-family: inherit;
  font-size: 15px;
  line-height: 24px;
  font-weight: 500;
  vertical-align: top;
  text-align: center;
  border: none;
  background-color: transparent;
  display: inline-block;
  cursor: pointer;
  outline: none;
  color: #fff;
  border-radius: 30px;
  padding: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.btn-primary {
  padding: 12px 58px;
  background-color: $green;
  transition: opacity .4s;

  &:hover {
    color: #fff;
    opacity: .85;
  }
}
