$green: #00b956;

body {
  color: #333;

  #logo {
    width: 10rem;
  }
}

a:hover {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.container {
  width: 100%;
  max-width: 1240px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.list-unstyled {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
