@font-face {
  font-family: Graphik;
  src: url("../fonts/MegaFonGraphikLC-Light-Web.woff2") format("woff2"),
  url("../fonts/MegaFonGraphikLC-Light-Web.woff") format("woff");
  font-style: normal;
  font-weight: 300
}

@font-face {
  font-family: Graphik;
  src: url("../fonts/MegaFonGraphikLC-Regular-Web.woff2") format("woff2"),
  url("../fonts/MegaFonGraphikLC-Regular-Web.woff") format("woff");
  font-style: normal;
  font-weight: 400
}

@font-face {
  font-family: Graphik;
  src: url("../fonts/MegaFonGraphikLC-Medium-Web.woff2") format("woff2"),
  url("../fonts/MegaFonGraphikLC-Medium-Web.woff") format("woff");
  font-style: normal;
  font-weight: 500
}

@font-face {
  font-family: Graphik;
  src: url("../fonts/MegaFonGraphikLC-Semibold-Web.woff2") format("woff2"),
  url("../fonts/MegaFonGraphikLC-Semibold-Web.woff") format("woff");
  font-style: normal;
  font-weight: 600
}

@font-face {
  font-family: Graphik;
  src: url("../fonts/MegaFonGraphikLC-Bold-Web.woff2") format("woff2"),
  url("../fonts/MegaFonGraphikLC-Bold-Web.woff") format("woff");
  font-style: normal;
  font-weight: 700
}

@font-face {
  font-family: Graphik;
  src: url("../fonts/MegaFonGraphikLC-Black-Web.woff2") format("woff2"),
  url("../fonts/MegaFonGraphikLC-Black-Web.woff") format("woff");
  font-style: normal;
  font-weight: 900
}
